<!DOCTYPE html>
<html>
  <head>
    <title>OauthTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= button_to "sign out", destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
